.header-container
    header.wrapper.clearfix
        h1.title title
        nav
            ul
                li
                    a(href="#") opt1
                li
                    a(href="#") opt2
                li
                    a(href="#") opt3
